# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Base de datos SQLite
instance/
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Logs
*.log